<aside>
	<div class="container">
		<nav>
			<ul>

				<li><a href="{{ "" | prepend: 'http://www.imanolfotia.com' }}">Home</a></li>
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Posts</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ 'http://www.imanolfotia.com' }}">{{ site.title }}</a></h1>
	<left>
<br><br><br><br>
<br>Software Engineer
<br>Graphics Programmer
<br>Game Developer
</left>
</header>
