---
layout: default
---

<h2>Epsilon Engine</h2>

Epsilon Engine© is a multi-platform, next-gen, on-development engine especifically designed to build high quality games and simulations. It uses OpenGL© 4.5 capabilities to deliver stunning graphics with great real time performance.
It has been under development since 2015, and has constantly been catching up with the latest realtime, 3D techniques.
It started as an alternative for Valve's © Source Engine ©, in attemps to develop a horror game.
After game engines became more accesible for indie developers, Epsilon was in a short hiatus but it's development was quickly resumed.

<center>{% include image.html url="/media/gallery/img1.jpg" description="Bokeh Depth of Field" width=900 align="center" %}</center>

<h3>Features</h3>

<ul>
  <li>Screen Space Ambient Oclussion</li>
  <li>Cook-Torrance specular lighting</li>
  	<em>Epsilon Engine uses Cook-Torrance BRDF for it's PBR renderer.</em>
  <li>Oren-Nayar diffuse lighting</li>
  <li>Ambient and indirect lighting is encoded in 3rd order Spherical Harmonics</li>
  	<em>Floating point global illumination is captured from the scene and stored in Spherical Harmonics.</em>
  <li>Screen Space Realtime Reflections</li>
  	<em>These reflections also take advantaje of localized reflection for a seamless transition when reflection information is missing. You can take a look at it's source code in <eps><a href="http://imanolfotia.com/blog/update/2017/03/11/ScreenSpaceReflections.html">this blog entry</a></eps>.</em>
  <li>Octree space division for open areas</li>
  <li>Binary Space Partition Trees(BSP Trees) are used for indoor areas</li>
  <li>Bokeh Depth of Field(DoF) post-processing</li>
  <li>Nvidia's FXAA post-processing</li>
  <li>Point, Area and Ambient lights are supported</li>
  <li>Physical Based Rendering(PBR) workflow</li>
  <li>God Rays post-processing</li>
  <li>Day & Night system</li>
  <li>GPU simulated particle systems</li>
  <li>Parallax Oclussion mapping</li>
  <li>Dynamic sky and weather using procedural generation and Fractal Brownian Motion</li>
  <li>Meta-surfaces rendering using signed distance fields</li>
  <li>Developer's tools</li>
</ul>

<center>{% include image.html url="/media/gallery/img3.jpg" description="Screen Space Realtime Reflections" width=900 align="right" %}</center>

<h3>Technology</h3>
Epsilon Engine© is written almost in its entirety in C++. It takes advantage of latests OpenGL© 4.5 capabilities and ensures a seamless experience in both Windows© and GNU/Linux.
The engine is capable of simulate global illumination in real time.
Integration of post-processing effects is easy, thanks to it's flexible modular design. 
Because the engine uses a component based architecture, everything is an entity, and thus, models, sounds, effects, particles, etc, can be used to create a new entity, without having to write a single line of code to achieve a new creation. To extend even further these capabilities, Epsilon Engine uses the Lua script language, with the posibility of each entity having it's own script and therefore, behaviour.

<center>{% include image.html url="/media/gallery/img2.jpg" description="Physically Based Rendering(PBR) workflow" width=900 align="left" %}</center>

<h3>Renderer</h3>

Epsilon Engine utilizes a hybrid deferred-forward renderer, this allows the usage of transparency and other effects and optimizations. For opaque objects, the geometry pass stores all objects' information in a large G-buffer, including global illumination and IBL data; An Uber shader is used in the lighting pass, this makes usage of the large data structure stored in the GPU that contains all lighting information needed for this pass. Epsilon Engine makes extensive usage of SSBOs(Shader Storage Buffer Object), allowing massive quantities of information stored in the GPU.
The following passes are all modular, allowing to add or remove passes easily.
For Screen Space Reflections, hardware mipmaping is heavily used to increase performance.
For the forward pass, both projected texturing transparency and buffer blending are supported. 
Finally in the post-processig passes, the engine support a wide range of options, from FXAA for Anti-Aliasing to God rays and procedural lens flares, among others.

<center>{% include image.html url="/media/gallery/img4.jpg" description="God rays and procedural lens flares" width=900 align="left" %}</center>

<h3>On-going Development</h3>
Epsilon Engine advances on a day to day basis, and those advances can be followed in my youtube channel. User feedback is always welcome and apreciated. In the near future, Epsilon Engine's tutorials and tips will be available. 

<div class="video-container"><iframe  src="https://www.youtube.com/embed/duUndTTaY7s" frameborder="0" allowfullscreen></iframe></div>

<h3>Downloads</h3>

Downloads will be available soon, the whole package will contain not only the main executables but also the engine's tools, such as scene editor, model and texture converter and the virtual file system packager.

<h3>See also</h3>

<eps><a href="http://imanolfotia.com/blog/update/2017/03/11/ScreenSpaceReflections.html">Screen Space Reflection in Epsilon Engine</a></eps>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = imanolfotia.com;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//imanolfotia-com.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
