---
layout: default
---

<h2>Epsilon Engine</h2>

Epsilon Engine© is a multi-platform, next-gen, on-development game engine. It uses OpenGL© 4.5 capabilities to deliver stunning graphics with great real time performance.
It has been under development since 2015, and has constantly been catching up with the latest realtime, 3D techniques.
It started as an alternative for Valve's © Source Engine ©, in attemps to develop a horror game.
After game engines became more accesible for indie developers, Epsilon was in a short hitatus but it's development was quickly resumed.

<center>{% include image.html url="/media/gallery/img1.jpg" description="Bokeh Depth of Field" width=720 align="center" %}</center>

<h3>Features</h3>

<ul>
  <li>Screen Space Ambient Oclussion</li>
  <li>Cook-Torrance specular lighting</li>
  <li>Oren-Nayar diffuse lighting</li>
  <li>Ambient and indirect lighting is encoded in 3rd order Spherical Harmonics</li>
  <li>Screen Space Realtime Reflections</li>
  <li>Octree space division for open areas</li>
  <li>Binary Space Partition Trees(BSP Trees) are used for indoor areas</li>
  <li>Bokeh Depht of Field(DoF) post-processing</li>
  <li>Nvidia's FXAA post-processing</li>
  <li>Point, Area and Ambient lights are supported</li>
  <li>Physical Based Rendering(PBR) workflow</li>
  <li>God Rays post-processing</li>
  <li>Day & Night system</li>
  <li>GPU simulated particle systems</li>
  <li>Dynamic sky and weather using procedural generation and Fractal Brownian Motion</li>
  <li>Meta-surfaces rendering using signed distance fields</li>
  <li>Developer's tools</li>
</ul>

<center>{% include image.html url="/media/gallery/img3.jpg" description="Screen Space Realtime Reflections" width=720 align="right" %}</center>

<h3>Technology</h3>
Epsilon Engine© is written almost in it entiretely in C++. It takes advantage of latests OpenGL© 4.5 capabilities and ensures a seamless experience in both Windows© and GNU/Linux.
The engine is capable of simulate global illumination in real time.
Integration of post-processing effects is easy, thanks to it's flexible modular design. 
Because the engine uses a component based architecture, verything is an entity, and thus, models, sounds, effects, particles, etc, can be used to create a new entity, without having to write a single line of code to acchieve a new creation. To extend even further these capabilities, the Epsilon Engine uses the Lua script system, with the posibility of each entity having it's own script and therefore, behaviour.

<center>{% include image.html url="/media/gallery/img2.jpg" description="Phisically Based Rendering(PBR) workflow" width=720 align="left" %}</center>

<h3>Downloads</h3>

Downloads will be available soon, the whole package will contain not only the main executables but also the engine's tools, sush as scene editor, model and texture converter and the virtual file system packager.
